clientId=--ON Intalled App--
clientSecret=--ON Intalled App--
authEndpoint=--ON Intalled App--
endpoint=--ON Intalled App--
soapEndpoint=--ON Intalled App--
useOAuth2Authentication=true
accountId=--YOUR MID--